<div>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <label>Customer Name:
      <input type="text" formControlName="name" />
    </label>

    <label>User:
      <select formControlName="user_id">
        <option *ngFor="let user of this.users" 
          [value]="user.id"
          [attr.selected]="user.id === customer.user_id ? true : null">
          {{user.name}}
        </option>
      </select>
    </label>

    <label>About:
      <input type="text" formControlName="about" />
    </label>

    <label>Phone:
      <input type="text" formControlName="phone" />
    </label>

    <label>Web:
      <input type="text" formControlName="web" />
    </label>

    <button type="submit" [disabled]="!customerForm.valid">
      Add
    </button>
  </form>
</div>

