<div>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Customer Name:</label>
      <input type="text" formControlName="name" />
    </div>

    <div *ngIf="customerForm.controls['name'].invalid && (customerForm.controls['name'].dirty || customerForm.controls['name'].touched)" class="alert">
      <div *ngIf="customerForm.controls['name'].errors?.required">
        Name is required.
      </div>

      <div *ngIf="customerForm.controls['name'].errors?.minlength">
        Name must be at least 3 characters long.
      </div>
    </div>

    <div>
      <label>User:</label>
      <select formControlName="user_id">
        <option *ngFor="let user of this.users" 
          [value]="user.id"
          [attr.selected]="user.id === customer.user_id ? true : null">
          {{user.name}}
        </option>
      </select>
    </div>

    <div>
      <label>About:</label>
      <input type="text" formControlName="about" />
    </div>

    <div>
      <label>Phone:</label>
      <input type="text" formControlName="phone" />
    </div>
    
    <div>    
      <label>Web:</label>
      <input type="text" formControlName="web" />
    </div>

    <button type="submit" [disabled]="!customerForm.valid">
      Add
    </button>
  </form>
</div>

